{% extends 'base.html' %}

{% block content %}

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<h2>Checkout</h2>

<form method="POST">

    {% csrf_token %}

    <input type="text" name="full_name" class="form-control mb-2" placeholder="Full Name" required>

    <input type="text" name="phone" class="form-control mb-2" placeholder="Phone" required>

    <textarea name="address" class="form-control mb-2" placeholder="Address" required></textarea>

    <input type="text" name="city" class="form-control mb-2" placeholder="City" required>

    <input type="text" name="state" class="form-control mb-2" placeholder="State" required>

    <input type="text" name="pincode" class="form-control mb-3" placeholder="Pincode" required>

    <h4>Total: ₹{{ total }}</h4>

    <button class="btn btn-success">

        Place Order

    </button>

</form>

{% endblock %}